*.bak
.metadata/
**/*.done
**/*.rpt
**/*.*.smsg
**/*.*.summary
**/*.htm
**/*.html
**/*.v
**/*.qdf
**/*.cmp
**/*.bsf
**/*.sopcinfo
**/*.cdf
**/*.jdi
**/*.pin
**/*.sof
**/*.qws
quartus/db/
quartus/qsys_control_system/
quartus/incremental_db/
quartus/.qsys_edit
quartus/*.txt

src/diracplayer/.force_relink
src/diracplayer/diracplayer.elf
src/diracplayer/diracplayer.map
src/diracplayer/diracplayer.objdump
src/diracplayer/obj/
src/diracplayer_bsp/.force_relink
src/diracplayer_bsp/HAL/
src/diracplayer_bsp/Makefile
src/diracplayer_bsp/alt_sys_init.c
src/diracplayer_bsp/drivers/
src/diracplayer_bsp/libhal_bsp.a
src/diracplayer_bsp/linker.h
src/diracplayer_bsp/linker.x
src/diracplayer_bsp/mem_init.mk
src/diracplayer_bsp/memory.gdb
src/diracplayer_bsp/obj/
src/diracplayer_bsp/public.mk
src/diracplayer_bsp/summary.html
src/diracplayer_bsp/system.h


.gitignore~
