*.bak
.metadata/
**/*.done
**/*.rpt
**/*.*.smsg
**/*.*.summary
**/*.htm
**/*.html
**/*.v
**/*.vhd~
**/*.qdf
**/*.cmp
**/*.bsf
**/*.sopcinfo
**/*.cdf
**/*.jdi
**/*.pin
**/*.sof
**/*.qws
quartus/db/
quartus/output_files/
quartus/qsys_control_system/
quartus/incremental_db/
quartus/.qsys_edit
quartus/*.txt

src/**/.force_relink
src/**/*.elf
src/**/*.map
src/**/*.objdump
src/**/obj/
src/**_bsp/.force_relink
src/**_bsp/HAL/
src/**_bsp/Makefile
src/**_bsp/alt_sys_init.c
src/**_bsp/drivers/
src/**_bsp/libhal_bsp.a
src/**_bsp/linker.h
src/**_bsp/linker.x
src/**_bsp/mem_init.mk
src/**_bsp/memory.gdb
src/**_bsp/obj/
src/**_bsp/public.mk
src/**_bsp/summary.html
src/**_bsp/system.h


.gitignore~
